
body,html{    
    height:100%;
    width:100%;
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#116699;
    font-family: 'Century Gothic';
}
p{
    margin:0px;
}
header{
    background-color: #222;
    height:50px;
    color: white;
    width:100%;
}
#header-wrapper{
    width:85%;
    margin-left: auto;
    margin-right:auto;
    padding-top:10px;
    font: 30px;
}

#logo-wrapper{
    float: left;
}

#form-wrapper{
    float: right;
}

#floating-sidebar-typhoon,#floating-sidebar-signal{
    background-color: #eee;
    color: #222; 
    font-size: 20px;
}

#floating-sidebar-typhoon{
    position: fixed;
    top: 50px;
    left:0%;
    height: 100px;
    width: 240px;       
}

#floating-sidebar-typhoon:hover{
    margin-left: 0px;
}





#floating-sidebar-header{
    background-color: #333;
    color: white;
    width: 25px;
    height: 325px;
    float:right;
}

.floating-sidebar-details{
    position: relative;
    padding: 10px 10px;
    overflow: hidden;
    height:100%;
}

.floating-sidebar-details table{
    width: 100%;
}

#floating-sidebar-right-header{
    background-color: #333;
    color: white;
    width: 25px;
    height: 325px;
    float:left;
}
.table-cat{
    font-weight: bold;
}

#mainContentWrapper{
    clear: both;
    width: 100%;  
    height: 93%; 
}


#mapPh{
    display: block;
    margin: auto;
    height:668.2px;
    width:457.6px;
}

#legendWrapper{
    left:25%;
    z-index: 5;
    width: 50%;
    height: 30px;
    position: fixed;
    bottom: 0;
    background: #222;
}

#legendContent{
    color: white;
}
#legendContent table{
    padding-top: 5px;
    margin: auto;
    table-layout: auto;
    text-align: center;
}

#fine{
    color: #33CC00;
}
#sig1{
    color: #FFCC00;
}
#sig2{
    
    color: #DD9900;
}
#sig3{    
    color: #CC6600;
}
#sig4{
    
    color: red;
}


@media (max-width: 700px){
    header{
        height: 50px;
    }
    #floating-sidebar-typhoon{
        top: 0%;
        position: relative;
        height: 65px;
        width: 100%;       
    }
    
    
    /* Force table to not be like tables anymore */

    
    td { 
        /* Behave  like a "row" */
        border: none;
        position: relative;

    }

}
