html,body{
    height:100%;
    width:100%;
    padding: 0px;
    margin: 0px;
    
}
body{    
    background-color:#116699;
    font-family: 'Century Gothic';
}
body, button, #submitForm{
    font-family: 'Century Gothic';
}
body, div, ul, li, p, span, label{
    cursor:default;
}
span{
    font-size: 11px;
}
strong{
    font-weight: 500;
}
p, button{
    margin:0px;
}
button{
    padding: 0px;
    height: 50px;
    width:100px;
    background-color: #222;
}
button:focus{
    background-color: #222;
}
a{
    color: white;
    text-decoration: none;
    min-height: 100px;
}
a:hover, a:visited{
    color: white;
}
header{
    z-index: 2;
    position: absolute;
    top:0;
    background-color: #222;
    height:50px;
    color: white;
    width:100%;
}
input:valid,
input:in-range {
    background:hsl(120, 50%, 90%);
    border-color:hsl(120, 50%, 50%);
}

input:invalid, input:optional:invalid{
    border-color:hsl(0, 50%, 50%);
    background:hsl(0, 50%, 90%);
}
input:focus{
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
input:optional:valid {
    background:hsl(300, 50%, 90%);
    border:1px dotted hsl(180, 50%, 90%);
}
#login_password, #login_username, #password{
    background:hsl(180, 50%, 90%);
    border:1px solid #999;
}
#header-wrapper{
    width:85%;
    margin-left: 80px;
    margin-right:auto;
    font: 30px;
}
#logo-wrapper{
    padding-top: 10px;
    float: left;
}

#form-wrapper{
    float: right;
}

#floating-sidebar-typhoon,#floating-sidebar-signal{
    background-color: #eee;
    color: #222; 
    font-size: 20px;
}

#floating-sidebar-typhoon{
    z-index: 5;
    position: fixed;
    float:left;
    height: 100%;
    width: 20%;
    border-right-style:solid;
    border-right-width:medium;      
}
#province-details{
    position: fixed;
    float:left;
    color: #222; 
    font-size: 20px;
    max-height: 85%;
}
#province{
    margin-bottom: 10px;
}
.floating-sidebar-details{
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 0;
    width: 100%;
    border-bottom: #222;
    border-bottom-width: 2px;
    border-bottom-style: solid;
}
#typhoon-details{
    max-height: 15%;
}
.floating-sidebar-details table{
    width: 100%;
}
#map_canvas {
    position: relative;
    float:right;
    width: 80%;
    height: 100%;
}

.table-cat{
    font-weight: bold;
}

#mainContentWrapper{
    padding-top: 50px;
    clear: both;
    width: 100%;  
    height: 100%; 
}


#legendContent{
    color: white;
}
#legendContent table{
    padding-top: 5px;
    margin: auto;
    table-layout: auto;
    text-align: center;
}


.sig1{
    background-color: #FFCC00;
    fill: #FFCC00;
}
.sig2{    
    background-color: #DD9900;
    fill: #DD9900;
}
.sig3{    
    background-color: #CC6600;
    fill: #CC6600;
}
.sig4{    
    background-color: red;
    fill: red;
}
.fine{
    background-color: #339944;
    fill: #339944;
}


#mapWrapper, #phMap{
    position: fixed;
    width: 100%;
    padding: 0px;
    margin: 0px;

}
#mapWrapper {
    height: 100%;
}

#phMap {
    position: fixed;
    height: 723px;
}

#legend{
    z-index: 2;
    position: fixed;
    bottom:0;
    right: 0;    
    color: #222; 
    font-size: 20px;
    height: 50px;
    width: 350px;
}

#legend table td{
    text-align: center;
    padding: 5px 5px;
}
.form{
    overflow-y: auto;
    border:1px solid #aaa;
    padding:10px;
    padding-bottom: 0px;
    background-color:#fff;
    font-size:15px;
    width:215px;
    min-width:215px;
    max-height: 100%;
}
.form, .textfield{
    width:200px;
}
#content{
    padding-bottom:10px;
    border-bottom:1px solid #ccc;
    font-size:18px;
    margin-bottom:10px;
}
#cancelForm{
    width: 80px;
    background:#222;
}
#submitForm{
    width:90px;
    background:#116699;
}
#submitForm, #cancelForm, #settingsbutton, #logoutbutton, #adminbutton{
    border:1px solid rgba(0,0,0,0.3); 
}
#submitForm, #cancelForm{
    color:#eee;
    height: 30px;
    font-size:15px;
    text-shadow: 0 1px 1px #444444;
    cursor:pointer;
}
#submitForm{
    float:right;
}
#links{
    position: relative;
    float: right;
}
#register-overlay{
    max-width: 215px;
    margin-right: 104px;
}
#register-overlay, #login-overlay, #dropdown-options{
    float: right;
}
.form, #dropdown-options{
    position: relative;
    display: none;
    z-index: 7;
}
#province-overlay, #main-province-overlay{
    float: left;
    position: absolute;
}
#overlay, #overlay-options, #overlay-settings {
    cursor: default;
    display: none;
    z-index: 6;
    background: #000;
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    text-align: center;
}
#logincheckbox{
    font-size: 10px;
}
#optionsbutton{
    width: 100%;
    min-width: 150px;
    max-width: 100%;
    font-size: 13px;
}
#optionsbutton:active,#optionsbutton:hover{
    background-color: #222;
}
#optionsbutton:hover{
    color: gray;
}
#settingsbutton, #logoutbutton, #adminbutton{
    width: 150px;
    height: 30px;
}
.form-error{
    color: red;
    font: 12px;
    display:inline-block;
    border: red;
    border-width: 1px;
    border-style: solid;
    background:hsl(0, 50%, 90%);
    margin-bottom: 10px;
    padding: 2px;
}
#changePasswordButton, #addProvinceButton, #changeProvinceButton, #forgotPasswordButton {
    color: gray;
    background: white;
    font-size: 13px;
    height: auto;
    width: auto;
    margin-bottom: 10px;
}
#changePasswordButton:hover{
    text-decoration: underline;
    color: #222;
}

#register-overlay{
    max-height: 100%;
}

#searchbox{
    float:left;
    padding-top: 5px;
    padding-left: 10%;
    width: 50%;
}

#main-province{
    max-height: 115px;

}
#other-province-details{
    max-height: 260px;
}
#other-province-details, #main-province{
    overflow-y: auto;
}
#addProvinceButton:hover, #changeProvinceButton:hover, #forgotPasswordButton:hover{
    text-decoration: underline;
}
#addProvinceButton, #changeProvinceButton{
    background-color: #eee;
    color: #222; 
    font-size: 12px;
}

#settings-overlay, #password-overlay{
    position: fixed;
    width:100px;
    max-width: 100px;
    margin-left: 40%;
}


@media (max-width: 750px){
    #searchbox{
        position: absolute;
        top: 70px;
        right:5%;
        width:70%;
    }
}

@media (max-width: 680px){
  
    #floating-sidebar-typhoon{
        top: 0%;
        position: relative;
        width: 100%;
        height: 200px;
        border-right-style:none;
        border-bottom-style:solid;
        border-bottom-width:medium;   
    }
    #map_canvas{
        top: 200px;
        width: 100%;
    }
    #floating-sidebar-typhoon > .floating-sidebar-details:first-child{
       height: 50px;
       margin-bottom: 50px;
    }
    #addProvinceButton{
        display: none;
    }
    #searchbox{
        width: 85%;
        top: 270px;
    
    }
  
}