
body{    
    height:100%;
    width:100%;
    padding: 0px;
    margin: 0px;
}
body{
    background-color:#116699;
    font-family: 'Century Gothic';
}
p{
    margin:0px;
}
header{
    z-index: 2;
    background-color: #222;
    height:50px;
    color: white;
    width:100%;
}
#header-wrapper{
    width:85%;
    margin-left: auto;
    margin-right:auto;
    padding-top:10px;
    font: 30px;
}

#logo-wrapper{
    float: left;
}

#form-wrapper{
    float: right;
}

#floating-sidebar-typhoon,#floating-sidebar-signal{
    background-color: #eee;
    color: #222; 
    font-size: 20px;
    -webkit-box-shadow: 10px 3px 5px 0px rgba(50, 50, 50, 0.75);
    -moz-box-shadow:    10px 3px 5px 0px rgba(50, 50, 50, 0.75);
    box-shadow:         10px 3px 5px 0px rgba(50, 50, 50, 0.75);
}

#floating-sidebar-typhoon{
    z-index: 2;
    position: absolute;
    top: 50px;
    left:0%;
    height: 100px;
    width: 240px;       
}


.floating-sidebar-details{
    padding: 10px 10px;
}

.floating-sidebar-details table{
    width: 100%;
}


.table-cat{
    font-weight: bold;
}

#mainContentWrapper{
    clear: both;
    width: 100%;  
    height: 93%; 
}



#legendWrapper{
    left:25%;
    z-index: 5;
    width: 50%;
    height: 30px;
    position: fixed;
    bottom: 0;
    background: #222;
}

#legendContent{
    color: white;
}
#legendContent table{
    padding-top: 5px;
    margin: auto;
    table-layout: auto;
    text-align: center;
}


.sig1{
    background-color: #FFCC00;
    fill: #FFCC00;
}
.sig2{    
    background-color: #DD9900;
    fill: #DD9900;
}
.sig3{    
    background-color: #CC6600;
    fill: #CC6600;
}
.sig4{    
    background-color: red;
    fill: red;
}
.fine{
    background-color: #339944;
    fill: #339944;
}



#mapWrapper {
    position: relative;
    width: 100%;
    height: 100%;
}

#phMap {
    position: relative;
    width: 100%;
    height: 723px;
}

#legend{
    z-index: 2;
    position: fixed;
    bottom:0;
    right: 0;    
    background-color: #eee;
    color: #222; 
    font-size: 20px;
    height: 50px;
    width: 505px;
}

#legend table td{
    text-align: center;
    padding: 5px 5px;
}
@media (max-width: 640px){
  
    #floating-sidebar-typhoon{
        top: 0%;
        position: relative;
        height: 65px;
        width: 100%;
        -webkit-box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.75);
        -moz-box-shadow:    0px 0px 0px 0px rgba(50, 50, 50, 0.75);
        box-shadow:         0px 0px 0px 0px rgba(50, 50, 50, 0.75);    
    }
    #legend{
        top: 0%;
        position: relative;
        width: 100%;       
    }
    
   
}
@media (max-width: 520px){
  
   
    #legend{
        height: 60px;
    }
    
    

}

